body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

nav {
    padding: 30px;
    background-color: #ccd5ae;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.navLinks {
    display: flex;
    margin-top: -50px;
    margin-left: 30px;
}

nav img {
    width: 35px;
    margin-top: -10px;
}

h1 {
    padding-top: 50px;
    margin-left: 100px;
}

.productEen {
    display: flex;
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
    gap: 20px;

}

.productEen img {
    width: 700px;
}

.prijs {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: bolder;
}

.rechts {
    margin-top: 80px;
}

.rechts a {
    text-decoration: none;
    background-color: #3a5a40;
    color: white;
    padding: 15px;
    padding-left: 265px;
    padding-right: 265px;
    text-align: center;
    border-radius: 5px;
    size: auto;
}